menu "ADC和ADC校准"

    config ADC_ONESHOT_CTRL_FUNC_IN_IRAM
        bool "将ISR版本的ADC单次模式读取函数放入IRAM"
        default n
        help
            将ISR版本的ADC单次模式读取函数放入IRAM。

    config ADC_CONTINUOUS_ISR_IRAM_SAFE
        depends on SOC_ADC_DMA_SUPPORTED
        bool "ADC连续模式驱动程序ISR IRAM安全"
        default n
        select GDMA_ISR_IRAM_SAFE if SOC_ADC_DMA_SUPPORTED && SOC_GDMA_SUPPORTED
        help
            确保ADC连续模式ISR是IRAM安全的。启用后，当缓存被禁用时，ISR处理程序将可用。

    menu "ADC校准配置"
        depends on IDF_TARGET_ESP32

        config ADC_CALI_EFUSE_TP_ENABLE
            bool "使用两点值"
            default "y"
            help
                一些ESP32在eFuse BLOCK3中烧录了两点校准值。
                如果可用，此选项将允许ADC校准组件使用两点值来表征ADC-电压曲线。

        config ADC_CALI_EFUSE_VREF_ENABLE
            bool "使用eFuse Vref"
            default "y"
            help
                一些ESP32在eFuse BLOCK0中烧录了Vref。如果可用，此选项将允许
                ADC校准组件使用eFuse Vref来表征ADC-电压曲线。

        config ADC_CALI_LUT_ENABLE
            bool "使用查找表"
            default "y"
            help
                此选项将允许ADC校准组件使用查找表来校正11db衰减下的非线性行为。
                其他衰减不表现出非线性行为，因此不会受此选项影响。
    endmenu

    config ADC_DISABLE_DAC_OUTPUT
        depends on SOC_DAC_SUPPORTED
        bool "当ADC2使用时禁用DAC"
        default y
        help
            默认情况下，此选项被设置。ADC单次驱动程序将禁用相应DAC通道的输出：
            ESP32：IO25和IO26
            ESP32S2：IO17和IO18

            禁用此选项以便通过内部ADC测量DAC的输出，用于测试目的。

    config ADC_CONTINUOUS_FORCE_USE_ADC2_ON_C3_S3
        depends on IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3
        bool "在ESP32S3或ESP32C3上强制使用ADC2连续模式"
        default n
        help
            在ESP32C3和ESP32S3上，ADC2数字控制器不稳定。因此，
            不建议在ESP32S3和ESP32C3上使用ADC2连续模式。

            如果您坚持使用，可以启用此选项以在上述条件下强制使用ADC2。
            有关更多详细信息，您可以在乐鑫网站上搜索勘误表。

    config ADC_ONESHOT_FORCE_USE_ADC2_ON_C3
        depends on IDF_TARGET_ESP32C3
        bool "在ESP32C3上强制使用ADC2单次模式"
        default n
        help
            在ESP32C3上，ADC2数字控制器不稳定。因此，
            不建议在ESP32C3上使用ADC2单次模式。

            如果您坚持使用，可以启用此选项以在上述条件下强制使用ADC2。
            有关更多详细信息，您可以在乐鑫网站上搜索勘误表。

    config ADC_ENABLE_DEBUG_LOG
        bool "启用ADC调试日志"
        default n
        help
            是否为ADC驱动程序启用调试日志消息。
            请注意，此选项仅控制ADC驱动程序日志，不会影响其他驱动程序。

            注意：这不能在ADC遗留驱动程序中使用。
endmenu
