menu "ESP-驱动：I2C 配置"
    depends on SOC_I2C_SUPPORTED
    config I2C_ISR_IRAM_SAFE
        bool "I2C ISR IRAM 安全"
        default n
        help
            通过允许中断处理程序在缓存禁用时（例如 SPI Flash 写入）可执行，
            确保 I2C 中断是 IRAM 安全的。
            注意：这不能在 I2C 遗留驱动程序中使用。

    config I2C_ENABLE_DEBUG_LOG
        bool "启用 I2C 调试日志"
        default n
        help
            是否为 I2C 驱动程序启用调试日志消息。
            注意，此选项仅控制 I2C 驱动程序日志，不会影响其他驱动程序。

            注意：这不能在 I2C 遗留驱动程序中使用。

endmenu # I2C Configurations
