choice ESP32S3_UNIVERSAL_MAC_ADDRESSES
    bool "IEEE通用管理MAC地址数量"
    default ESP32S3_UNIVERSAL_MAC_ADDRESSES_FOUR
    help
        配置IEEE通用管理MAC地址的数量。
        在初始化期间，每个网络接口的MAC地址都是从单个基本MAC地址生成或派生的。
        如果通用MAC地址的数量为四个，则所有四个接口（WiFi站点、WiFi软AP、蓝牙和以太网）
        都会收到一个通用管理的MAC地址。这些地址是通过在基本MAC地址的最后一个八位字节
        上依次添加0、1、2和3（分别对应）来生成的。
        如果通用MAC地址的数量为两个，则只有两个接口（WiFi站点和蓝牙）会收到通用管理的
        MAC地址。这些地址是通过在基本MAC地址上依次添加0和1（分别对应）来生成的。剩下的
        两个接口（WiFi软AP和以太网）会收到本地MAC地址。这些地址分别从通用WiFi站点和
        蓝牙MAC地址派生而来。
        当使用默认（Espressif分配的）基本MAC地址时，可以使用任一设置。当使用自定义通用
        MAC地址范围时，正确的设置将取决于此范围内MAC地址的分配（每个设备2个或4个）。

    config ESP32S3_UNIVERSAL_MAC_ADDRESSES_TWO
        bool "两个"
        select ESP_MAC_UNIVERSAL_MAC_ADDRESSES_TWO
        select ESP_MAC_ADDR_UNIVERSE_WIFI_STA
        select ESP_MAC_ADDR_UNIVERSE_BT

    config ESP32S3_UNIVERSAL_MAC_ADDRESSES_FOUR
        bool "四个"
        select ESP_MAC_UNIVERSAL_MAC_ADDRESSES_FOUR
        select ESP_MAC_ADDR_UNIVERSE_WIFI_STA
        select ESP_MAC_ADDR_UNIVERSE_WIFI_AP
        select ESP_MAC_ADDR_UNIVERSE_BT
        select ESP_MAC_ADDR_UNIVERSE_ETH
endchoice

config ESP32S3_UNIVERSAL_MAC_ADDRESSES
    int
    default 2 if ESP32S3_UNIVERSAL_MAC_ADDRESSES_TWO
    default 4 if ESP32S3_UNIVERSAL_MAC_ADDRESSES_FOUR
