choice RTC_CLK_SRC
    prompt "RTC时钟源"
    default RTC_CLK_SRC_INT_RC
    help
        选择用作RTC时钟源的时钟。

    config RTC_CLK_SRC_INT_RC
        bool "内部136kHz RC振荡器"
    config RTC_CLK_SRC_EXT_CRYS
        bool "外部32kHz晶体"
        select ESP_SYSTEM_RTC_EXT_XTAL
    config RTC_CLK_SRC_EXT_OSC
        bool "32K_XP引脚上的外部32kHz振荡器"
        select ESP_SYSTEM_RTC_EXT_OSC
    config RTC_CLK_SRC_INT_8MD256
        bool "内部17.5MHz振荡器，除以256"
endchoice

config RTC_CLK_CAL_CYCLES
    int "RTC_SLOW_CLK校准的周期数"
    default 3000 if RTC_CLK_SRC_EXT_CRYS || RTC_CLK_SRC_EXT_OSC || RTC_CLK_SRC_INT_8MD256
    default 1024 if RTC_CLK_SRC_INT_RC
    range 0 8190 if RTC_CLK_SRC_EXT_CRYS || RTC_CLK_SRC_EXT_OSC || RTC_CLK_SRC_INT_8MD256
    range 0 32766 if RTC_CLK_SRC_INT_RC
    help
        当启动代码初始化RTC_SLOW_CLK时，它可以通过比较RTC_SLOW_CLK频率与主XTAL
        频率来执行校准。此选项设置校准例程测量的RTC_SLOW_CLK周期数。较高的数字
        会增加校准精度，这对于长时间处于深度睡眠状态的应用程序可能很重要。较低
        的数字会减少启动时间。

        当此选项设置为0时，启动时不会执行时钟校准，并且将假设近似的时钟频率：

        - 如果使用内部RC振荡器作为时钟源，则为150000 Hz。对此使用值1024。
        - 如果使用32k晶体振荡器，则为32768 Hz。对此使用3000或更多的值。
            在这种情况下，更多的值将有助于改善晶体启动的定义。
            如果晶体无法启动，它将切换到内部RC。
