menu "ESP-驱动：USB 串口/JTAG 配置"
    depends on SOC_USB_SERIAL_JTAG_SUPPORTED

    config USJ_ENABLE_USB_SERIAL_JTAG
        bool "启用 USB-串口-JTAG 模块"
        default y
        help
            ESP芯片上的USB-串口-JTAG模块在上电后默认开启。
            如果您的应用程序不需要它，也不依赖它作为系统控制台或使用内置JTAG进行调试，
            您可以禁用此选项，然后在启动时将禁用此模块的时钟，这将节省一些功耗。

    config USJ_NO_AUTO_LS_ON_CONNECTION
        bool "当USB串口/JTAG端口连接时不自动进入浅睡眠模式"
        depends on PM_ENABLE && ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED && !SOC_USB_SERIAL_JTAG_SUPPORT_LIGHT_SLEEP \
            && USJ_ENABLE_USB_SERIAL_JTAG
        default n
        help
            如果启用，芯片将持续监控USB串口/JTAG端口的连接状态。只要USB串口/JTAG
            处于连接状态，就会获取一个ESP_PM_NO_LIGHT_SLEEP电源管理锁，以防止系统
            进入浅睡眠模式。
            当启用电源管理且需要通过USB串口/JTAG进行串口监控时，此选项可能会很有用，
            因为USB串口/JTAG在浅睡眠模式下无法工作，且从浅睡眠唤醒后也无法工作。
            注意：此选项只能控制自动浅睡眠行为。如果在程序中手动调用esp_light_sleep_start()，
            即使USB串口/JTAG正在使用，启用此选项也不会阻止进入浅睡眠模式。
endmenu # USB Serial/JTAG Configuration
