menu "HTTP 服务器"

    config HTTPD_MAX_REQ_HDR_LEN
        int "最大 HTTP 请求头长度"
        default 512
        help
            这设置了服务器要处理的 HTTP 请求包中头部部分的最大支持大小

    config HTTPD_MAX_URI_LEN
        int "最大 HTTP URI 长度"
        default 512
        help
            这设置了服务器要处理的 HTTP 请求 URI 的最大支持大小

    config HTTPD_ERR_RESP_NO_DELAY
        bool "发送 HTTP 错误响应时使用 TCP_NODELAY 套接字选项"
        default y
        help
            使用 TCP_NODEALY 套接字选项确保 HTTP 错误响应在底层套接字关闭之前到达客户端。请注意，关闭此选项可能会导致多个测试失败

    config HTTPD_PURGE_BUF_LEN
        int "清除数据的临时缓冲区长度"
        default 32
        help
            这设置了用于接收和丢弃 HTTP 客户端在请求中发送的、但未被服务器 HTTP 请求处理程序处理的任何剩余数据的临时缓冲区的大小。

            如果剩余数据大于可用缓冲区大小，缓冲区将在多次迭代中填充。缓冲区应该小到足以放在栈上，但又要大到足以避免过多的迭代。

    config HTTPD_LOG_PURGE_DATA
        bool "在调试级别记录清除的内容数据"
        default n
        help
            启用此选项将在调试级别记录丢弃的二进制 HTTP 请求数据。
            对于大型内容数据，这可能不太理想，因为它会使日志变得混乱。

    config HTTPD_WS_SUPPORT
        bool "WebSocket 服务器支持"
        default n
        help
            这设置 WebSocket 服务器支持。

    config HTTPD_QUEUE_WORK_BLOCKING
        bool "httpd_queue_work 作为阻塞 API"
        help
            这使 httpd_queue_work() API 等待，直到 UDP 控制套接字上有可用的消息空间。
            它内部使用计数设置为 `LWIP_UDP_RECVMBOX_SIZE` 的计数信号量来实现这一点。
            此配置将略微改变 API 行为，以阻塞直到消息被传递到控制套接字。

endmenu
