menu "ESP-驱动：I2S 配置"
    depends on SOC_I2S_SUPPORTED
    config I2S_ISR_IRAM_SAFE
        bool "I2S ISR IRAM 安全"
        default n
        help
            通过允许中断处理程序在缓存禁用时（例如 SPI Flash 写入）可执行，
            确保 I2S 中断是 IRAM 安全的。

    config I2S_ENABLE_DEBUG_LOG
        bool "启用 I2S 调试日志"
        default n
        help
            是否启用 I2S 驱动程序的调试日志消息。
            注意，此选项仅控制 I2S 驱动程序日志，不会影响其他驱动程序。
endmenu # I2S Configuration
