menu "物理层 (PHY)"

    config ESP_PHY_ENABLED
        bool
        default y if (SOC_PHY_SUPPORTED)

    if (ESP_PHY_ENABLED)
        config ESP_PHY_CALIBRATION_AND_DATA_STORAGE
            bool "在 NVS 中存储物理层校准数据"
            default y
            help
                如果启用此选项，NVS 将被初始化，并从中加载校准数据。
                在深度睡眠唤醒时，将跳过物理层校准。如果未找到校准数据，将执行完整校准并存储在 NVS 中。
                通常，只会执行部分校准。如果禁用此选项，将执行完整校准。

                如果您的板子容易校准出错误数据，请选择 'n'。
                例如，在以下两种情况下，您应该选择 'n'：
                1. 如果您的板子在天线断开的情况下容易启动。
                2. 由于您的板子设计，每次校准时结果都非常不稳定。
                如果不确定，请选择 'y'。

        menuconfig ESP_PHY_INIT_DATA_IN_PARTITION
            bool "使用分区存储物理层初始化数据"
            depends on SOC_WIFI_SUPPORTED
            default n
            help
                如果启用，物理层初始化数据将从分区加载。
                使用自定义分区表时，请确保包含物理层数据分区（类型：'data'，子类型：'phy'）。
                使用默认分区表时，这将自动完成。
                如果物理层初始化数据存储在分区中，必须将其刷写到该位置，
                否则将发生运行时错误。

                如果未启用此选项，物理层初始化数据将嵌入到应用程序二进制文件中。

                如果不确定，请选择 'n'。

        config ESP_PHY_DEFAULT_INIT_IF_INVALID
            bool "如果无效则重置为默认物理层初始化数据"
            default n
            depends on ESP_PHY_INIT_DATA_IN_PARTITION
            help
                如果启用，当物理层初始化数据无法成功验证时，
                将恢复为默认值以避免无限重启循环。

                如果不确定，请选择 'n'。

        if ESP_PHY_INIT_DATA_IN_PARTITION
            config ESP_PHY_MULTIPLE_INIT_DATA_BIN
                bool "支持多个物理层初始化数据二进制文件"
                depends on ESP_PHY_INIT_DATA_IN_PARTITION
                default n
                help
                    如果启用，可以根据国家代码自动切换相应的物理层初始化数据类型。
                    默认使用中国的物理层初始化数据二进制文件。
                    可以通过 API esp_wifi_set_country() 中的国家信息进行修改。
                    切换物理层初始化数据类型的优先级为：
                    1. 通过 API esp_wifi_set_country() 配置的国家，
                    且参数策略为 WIFI_COUNTRY_POLICY_MANUAL。
                    2. 连接的 AP 通知的国家。
                    3. 通过 API esp_wifi_set_country() 配置的国家，
                    且参数策略为 WIFI_COUNTRY_POLICY_AUTO。

            config ESP_PHY_MULTIPLE_INIT_DATA_BIN_EMBED
                bool "支持将多个物理层初始化数据二进制文件嵌入到应用程序二进制文件中"
                depends on ESP_PHY_MULTIPLE_INIT_DATA_BIN
                default n
                help
                    如果启用，多个物理层初始化数据二进制文件将嵌入到应用程序二进制文件中。
                    如果未启用，多个物理层初始化数据二进制文件将保持独立，需要用户手动刷写。

            config ESP_PHY_INIT_DATA_ERROR
                bool "物理层初始化数据错误时终止操作"
                depends on ESP_PHY_MULTIPLE_INIT_DATA_BIN
                default n
                help
                    如果启用，当更新物理层初始化数据时发生错误，
                    程序将终止并重新启动。
                    如果未启用，当发生错误时，物理层初始化数据将不会更新。
        endif

        config ESP_PHY_MAX_WIFI_TX_POWER
            int "最大 WiFi 发射功率 (dBm)"
            range 10 20
            default 20
            help
                设置 WiFi 无线电的最大发射功率。高数据速率的实际发射功率可能低于此设置。

        config ESP_PHY_MAX_TX_POWER
            int
            default ESP_PHY_MAX_WIFI_TX_POWER

        config ESP_PHY_MAC_BB_PD
            bool "当物理层禁用时关闭 Wi-Fi 和蓝牙的 MAC 和基带"
            depends on SOC_PM_SUPPORT_MAC_BB_PD && FREERTOS_USE_TICKLESS_IDLE
            default n
            help
                如果启用，当物理层禁用时，Wi-Fi 和蓝牙的 MAC 和基带将被关闭。
                启用此设置会略微减少功耗，但会增加约 4 KB（仅 Wi-Fi）、
                2 KB（仅蓝牙）或 5.3 KB（Wi-Fi + 蓝牙）的 RAM 使用。

        config ESP_PHY_REDUCE_TX_POWER
            bool "掉电复位时降低物理层发射功率"
            depends on ESP_BROWNOUT_DET
            default n
            help
                当发生掉电复位时，降低物理层发射功率以保持代码运行。

        config ESP_PHY_ENABLE_USB
            bool "初始化 WiFi 时保持 USB 物理层启用"
            depends on SOC_WIFI_PHY_NEEDS_USB_WORKAROUND
            default y if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3 \
                || ESP_CONSOLE_USB_SERIAL_JTAG || ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG
            default n
            help
                在某些 ESP 目标上，USB 物理层可能会干扰 WiFi，从而降低 WiFi 性能。
                因此，在受影响的 ESP 目标上，ESP 物理层库的初始化将自动禁用 USB 物理层，
                以获得最佳的 WiFi 性能。
                此选项控制 ESP 物理层库在初始化时是否保持 USB 物理层启用。

                注意：可以禁用此选项以提高 WiFi 性能。但是，禁用此选项也意味着
                在 WiFi 启用时无法使用 USB 物理层。

        config ESP_PHY_ENABLE_CERT_TEST
            bool "启用射频认证测试功能"
            default n
            depends on IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3
            help
                如果启用，您可以使用射频认证测试 API。

        choice ESP_PHY_CALIBRATION_MODE
            prompt "校准模式"
            default ESP_PHY_RF_CAL_PARTIAL
            help
                选择物理层校准模式。在射频初始化期间，默认使用部分校准方法进行射频校准。
                完全校准比部分校准多花费约 100ms。如果启动时间不是关键因素，建议使用完全校准方法。
                仅在设备从深度睡眠唤醒时才使用无校准方法。

            config ESP_PHY_RF_CAL_PARTIAL
                bool "部分校准"
            config ESP_PHY_RF_CAL_NONE
                bool "无校准"
            config ESP_PHY_RF_CAL_FULL
                bool "完全校准"
        endchoice #ESP_PHY_CALIBRATION_MODE

        config ESP_PHY_CALIBRATION_MODE
            int
            default 0 if ESP_PHY_RF_CAL_PARTIAL
            default 1 if ESP_PHY_RF_CAL_NONE
            default 2 if ESP_PHY_RF_CAL_FULL

        config ESP_PHY_IMPROVE_RX_11B
            bool "改善 Wi-Fi 接收 11b 数据包"
            default n
            depends on SOC_PHY_IMPROVE_RX_11B
            help
                这是一个解决方案，用于改善某些使用交流-直流电源且干扰较高的模块的 Wi-Fi 接收 11b 数据包性能。
                启用此选项将牺牲 Wi-Fi OFDM 接收性能。
                但在这种情况下，保证 11b 接收性能作为底线。

        config ESP_PHY_PLL_TRACK_DEBUG
            bool "启用 PLL 跟踪日志"
            default n
            help
                如果启用，在 PLL 跟踪期间将会有一些日志输出。

    endif
endmenu  # PHY
