menu "引导加载程序管理器"

    config BOOTLOADER_COMPILE_TIME_DATE
        bool "为引导加载程序使用时间/日期戳"
        default y
        depends on !APP_REPRODUCIBLE_BUILD
        help
            如果设置，则引导加载程序将使用当前时间/日期戳构建。
            它存储在引导加载程序描述结构中。如果未设置，时间/日期戳将从引导加载程序镜像中排除。
            这对于从同一源代码获取相同的二进制镜像文件，但在不同时间生成时很有用。

    config BOOTLOADER_PROJECT_VER
        int "项目版本"
        default 1
        range 0 4294967295
        help
            项目版本。它被放置在esp_bootloader_desc结构的"version"字段中。
            此字段的类型为"uint32_t"。
endmenu # "Bootloader manager"
