menu "常见ESP相关"

    config ESP_ERR_TO_NAME_LOOKUP
        bool "启用错误代码字符串查找"
        default "y"
        help
            函数esp_err_to_name()和esp_err_to_name_r()从预生成的查找表中返回错误代码的字符串表示。
            此选项可用于关闭查找表的使用，以节省内存，但代价是牺牲可区分（有意义）的输出字符串表示。

    config ESP_ALLOW_BSS_SEG_EXTERNAL_MEMORY
        # Invisible option that is set by SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY, but
        # exists even if SPIRAM is not supported
        bool

endmenu # Common ESP-related
