menu "ESP-驱动：LEDC 配置"

    config LEDC_CTRL_FUNC_IN_IRAM
        bool "将 LEDC 控制函数放入 IRAM"
        default n
        help
            将 LEDC 控制函数（ledc_update_duty 和 ledc_stop）放入 IRAM，
            以便这些函数可以在 IRAM 上下文中安全调用。
            启用此选项还可以提高驱动程序性能。

endmenu
