menu "TWAI 配置"
    depends on SOC_TWAI_SUPPORTED

    config TWAI_ISR_IN_IRAM
        bool "将 TWAI ISR 函数放入 IRAM"
        default n
        help
            将 TWAI ISR 放入 IRAM。这将允许 ISR 避免缓存未命中，
            并且在缓存禁用时也能运行（例如写入 SPI Flash 时）。
            请注意，如果启用此选项：
            - 用户在安装驱动程序时还应在驱动程序配置结构中设置
              ESP_INTR_FLAG_IRAM（具体请参阅文档）。
            - 警报日志记录（即设置 TWAI_ALERT_AND_LOG 标志）将
              不起作用。

    config TWAI_ERRATA_FIX_BUS_OFF_REC
        bool "为总线关闭期间的 REC 变化添加软件解决方案"
        depends on IDF_TARGET_ESP32
        default y
        help
            当达到总线关闭条件时，REC 应该被驱动程序的 ISR 重置为 0
            并冻结（通过 LOM）。然而在 ESP32 上，存在一种边缘情况，
            即 REC 会在驱动程序的 ISR 来不及响应时增加（例如，由于
            总线错误的快速发生），从而导致总线关闭后 REC 不为零。
            非零 REC 可能会阻止总线关闭恢复，因为总线关闭恢复的条件
            是 TEC 和 REC 都变为 0。启用此选项将在驱动程序中添加一个
            解决方案，在达到总线关闭时强制将 REC 重置为零。

    config TWAI_ERRATA_FIX_TX_INTR_LOST
        bool "为 TX 中断丢失勘误添加软件解决方案"
        depends on IDF_TARGET_ESP32
        default y
        help
            在 ESP32 上，当发生发送中断，并且在同一 APB 时钟周期内
            读取中断寄存器时，发送中断可能会丢失。启用此选项将添加
            一个解决方案，通过检查发送缓冲区状态位来恢复任何丢失的
            发送中断。

    config TWAI_ERRATA_FIX_RX_FRAME_INVALID
        bool "为无效 RX 帧勘误添加软件解决方案"
        depends on IDF_TARGET_ESP32
        default y
        help
            在 ESP32 上，当接收数据或远程帧时，如果在数据或 CRC 字段
            发生总线错误，下一个接收帧的数据可能无效。启用此选项将
            添加一个解决方案，在检测到这种勘误条件时重置外设。请注意，
            如果在重置过程中在总线上发送了一个帧，该消息将不会被外设
            接收，在重置期间发送到总线上的消息将丢失。

    config TWAI_ERRATA_FIX_RX_FIFO_CORRUPT
        bool "为 RX FIFO 损坏勘误添加软件解决方案"
        depends on IDF_TARGET_ESP32
        default y
        help
            在 ESP32 上，当 RX FIFO 溢出且 RX 消息计数器达到最大值
            64 条消息时，整个 RX FIFO 将无法恢复。启用此选项将添加
            一个解决方案，在检测到这种勘误条件时重置外设。请注意，
            如果在重置期间在总线上发送了一个帧，该消息将丢失。

    config TWAI_ERRATA_FIX_LISTEN_ONLY_DOM
        bool "为仅监听模式发送显性位勘误添加软件解决方案"
        depends on IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32C3
        default y
        help
            在仅监听模式下，TWAI 控制器不得影响 TWAI 总线（即不得
            发送任何显性位）。然而，在 ESP32/ESP32-S2/ESP32-S3/ESP32-C3
            的仅监听模式下，TWAI 控制器在检测到错误时仍会发送显性位
            （即作为主动错误帧的一部分）。启用此选项将添加一个解决
            方案，在初始化时强制 TWAI 控制器进入错误被动状态，从而
            防止发送任何显性位。

endmenu # TWAI Configuration
