
menu "无线共存"

    config ESP_COEX_ENABLED
        bool
        default y if (!SOC_WIRELESS_HOST_SUPPORTED)

    if(ESP_COEX_ENABLED)
        config ESP_COEX_SW_COEXIST_ENABLE
            bool "软件控制WiFi/蓝牙共存"
            depends on (ESP_WIFI_ENABLED && BT_ENABLED) || \
                (ESP_WIFI_ENABLED && IEEE802154_ENABLED)   || \
                (IEEE802154_ENABLED && BT_ENABLED)
            default y
            select ESP_WIFI_STA_DISCONNECTED_PM_ENABLE if (ESP_WIFI_ENABLED)
            help
                如果启用，WiFi和蓝牙的共存将由软件而不是硬件控制。
                推荐用于高流量场景。两种共存配置选项都会自动管理，无需用户干预。
                如果只使用蓝牙，建议禁用此选项以减小二进制文件大小。

        config ESP_COEX_EXTERNAL_COEXIST_ENABLE
            bool "外部共存"
            default n
            depends on (!(BT_ENABLED||NIMBLE_ENABLED)&&(!IDF_TARGET_ESP32))
            help
                如果启用，硬件外部共存仲裁将由GPIO引脚管理。
                目前可以支持三种有线组合，分别是1线/2线/3线。
                用户可以在应用程序代码中使用配置接口选择GPIO引脚。

                此功能依赖于蓝牙关闭，
                因为目前我们不支持同时使用外部共存和内部共存。

        config ESP_COEX_POWER_MANAGEMENT
            bool "支持共存下的电源管理"
            default n
            depends on (ESP_COEX_SW_COEXIST_ENABLE)
            help
                如果启用，将启用共存电源管理。
    endif

endmenu  # Wireless Coexistence
