menu "应用程序管理器"

    config APP_COMPILE_TIME_DATE
        bool "为应用程序使用时间/日期戳"
        default y
        depends on !APP_REPRODUCIBLE_BUILD
        help
            如果设置，应用程序将使用当前的时间/日期戳进行构建。它存储在应用程序描述结构中。
            如果不设置，时间/日期戳将从应用程序镜像中排除。这对于从相同源代码但在不同时间
            生成相同的二进制镜像文件可能有用。

    config APP_EXCLUDE_PROJECT_VER_VAR
        bool "从固件镜像中排除 PROJECT_VER"
        default n
        help
            构建系统中的 PROJECT_VER 变量将不会影响固件镜像。
            这个值不会包含在 esp_app_desc 结构中。

    config APP_EXCLUDE_PROJECT_NAME_VAR
        bool "从固件镜像中排除 PROJECT_NAME"
        default n
        help
            构建系统中的 PROJECT_NAME 变量将不会影响固件镜像。
            这个值不会包含在 esp_app_desc 结构中。

    config APP_PROJECT_VER_FROM_CONFIG
        bool "从 Kconfig 获取项目版本"
        default n
        help
            如果启用此选项，则配置项 APP_PROJECT_VER 将用于变量 PROJECT_VER。
            其他设置 PROJECT_VER 的方式将被忽略。

    config APP_PROJECT_VER
        string "项目版本"
        default "1"
        depends on APP_PROJECT_VER_FROM_CONFIG
        help
            项目版本

    config APP_RETRIEVE_LEN_ELF_SHA
        int "存储在 RAM 中的 APP ELF SHA 长度（字符）"
        default 9
        range 8 64
        help
            在启动时，应用程序将从闪存中读取嵌入的 APP ELF SHA-256 哈希值，
            将其转换为字符串并存储在 RAM 缓冲区中。
            这确保了即使在禁用缓存时，紧急处理程序和核心转储也能打印此字符串。
            缓冲区的大小是 APP_RETRIEVE_LEN_ELF_SHA 加上空终止符。
            更改此值将改变此缓冲区的大小（以字节为单位）。

endmenu # "Application manager"
