menu "ESP 环形缓冲区"


    config RINGBUF_PLACE_FUNCTIONS_INTO_FLASH
        bool "将非 ISR 环形缓冲区函数放入闪存"
        default n
        help
            将非 ISR 环形缓冲区函数（如 xRingbufferCreate/xRingbufferSend）放入闪存。
            这可以释放 IRAM，但当缓存被禁用时，这些函数将无法被调用。


    config RINGBUF_PLACE_ISR_FUNCTIONS_INTO_FLASH
        bool "将 ISR 环形缓冲区函数放入闪存"
        depends on RINGBUF_PLACE_FUNCTIONS_INTO_FLASH
        default n
        help
            将 ISR 环形缓冲区函数（如 xRingbufferSendFromISR/xRingbufferReceiveFromISR）放入闪存。
            这可以释放 IRAM，但当缓存被禁用或从 IRAM 中断上下文调用时，这些函数将无法被调用。

            此选项与配置为从 IRAM 上下文运行 ISR 的 ESP-IDF 驱动程序不兼容，例如 CONFIG_UART_ISR_IN_IRAM。


endmenu
