menu "NVS 安全提供程序"
    visible if NVS_ENCRYPTION

    choice NVS_SEC_KEY_PROTECTION_SCHEME
        prompt "NVS 加密：密钥保护方案"
        depends on NVS_ENCRYPTION
        default NVS_SEC_KEY_PROTECT_USING_FLASH_ENC
        help
            此选项定义默认的 NVS 加密密钥保护方案；
            该方案将用于默认的 NVS 分区。
            用户可以使用相应的方案注册 API 来为默认分区以及其他 NVS 分区注册其他方案。

        config NVS_SEC_KEY_PROTECT_USING_FLASH_ENC
            bool "使用闪存加密"
            depends on SECURE_FLASH_ENC_ENABLED
            help
                使用闪存加密保护 NVS 加密密钥
                需要一个单独的 'nvs_keys' 分区（该分区将通过闪存加密进行加密）
                用于存储 NVS 加密密钥

        config NVS_SEC_KEY_PROTECT_USING_HMAC
            bool "使用 HMAC 外设"
            depends on SOC_HMAC_SUPPORTED
            help
                使用 HMAC 外设派生和保护 NVS 加密密钥
                需要指定的 eFuse 块（NVS_SEC_HMAC_EFUSE_KEY_ID 或 v2 API 参数）
                为空或预先写入具有 ESP_EFUSE_KEY_PURPOSE_HMAC_UP 用途的密钥

    endchoice

    config NVS_SEC_HMAC_EFUSE_KEY_ID
        int "存储 HMAC 密钥的 eFuse 密钥 ID"
        depends on NVS_SEC_KEY_PROTECT_USING_HMAC
        range 0 6
        default 6
        help
            存储用于派生 NVS 加密密钥的 HMAC 密钥的 eFuse 块密钥 ID

            注意：HMAC 方案（CONFIG_NVS_SEC_KEY_PROTECT_USING_HMAC）所需的 eFuse 块密钥 ID
            在使用 nvs_flash_init() 初始化默认 NVS 分区时通过此配置设置。eFuse 块密钥 ID
            也可以在运行时通过向 NVS 安全方案注册 API 传递适当的值来设置。

endmenu
