menu "蓝牙"

    config BT_ENABLED
        bool "蓝牙"
        depends on !APP_NO_BLOBS
        help
            选择此选项以启用蓝牙并显示包含蓝牙配置选项的子菜单。

    choice BT_HOST
        prompt "主机"
        depends on BT_ENABLED
        default BT_BLUEDROID_ENABLED
        help
            这有助于选择蓝牙主机协议栈

        config BT_BLUEDROID_ENABLED
            bool "Bluedroid - 双模式"
            help
                对于经典蓝牙或双模式用例，推荐使用此选项

        config BT_NIMBLE_ENABLED
            bool "NimBLE - 仅BLE"
            help
                对于仅BLE用例，推荐使用此选项以节省内存

        config BT_CONTROLLER_ONLY
            depends on SOC_BT_SUPPORTED
            bool "禁用"
            help
                当您想直接与控制器通信（无需任何主机）或使用Espressif不支持的任何其他主机协议栈（此处未提及）时，推荐使用此选项。

    endchoice

    choice BT_CONTROLLER
        prompt "控制器"
        depends on BT_ENABLED
        default BT_CONTROLLER_ENABLED
        help
            这有助于选择蓝牙控制器协议栈

        config BT_CONTROLLER_ENABLED
            depends on SOC_BT_SUPPORTED
            bool "启用"
            help
                对于蓝牙控制器用例，推荐使用此选项

        config BT_CONTROLLER_DISABLED
            bool "禁用"
            help
                对于仅蓝牙主机用例，推荐使用此选项

    endchoice

    menu "Bluedroid 选项"
        depends on BT_BLUEDROID_ENABLED
        source "$IDF_PATH/components/bt/host/bluedroid/Kconfig.in"
    endmenu

    menu "NimBLE 选项"
        depends on BT_NIMBLE_ENABLED
        source "$IDF_PATH/components/bt/host/nimble/Kconfig.in"
    endmenu

    menu "控制器选项"
        depends on BT_CONTROLLER_ENABLED
        source "$IDF_PATH/components/bt/controller/$IDF_TARGET/Kconfig.in"
    endmenu

    config BT_RELEASE_IRAM
        depends on BT_ENABLED && BT_LE_RELEASE_IRAM_SUPPORTED
        bool "释放蓝牙文本（请先阅读文档）"
        default n
        help
            此选项在调用esp_bt_mem_release时释放蓝牙文本部分，并将蓝牙数据、bss和文本合并到一个大的空闲堆区域中，总共节省约21kB或更多的IRAM。
            ESP32-C2只有3个可配置的PMP条目可用，其余的是硬编码的。
            我们无法将内存分成3个不同的区域（IRAM、BLE-IRAM、DRAM）。
            因此，此选项将禁用PMP（ESP_SYSTEM_PMP_IDRAM_SPLIT）

    menu "通用选项"
        visible if (BT_BLUEDROID_ENABLED || BT_NIMBLE_ENABLED)

        source "$IDF_PATH/components/bt/common/Kconfig.in"
    endmenu

    config BT_HCI_LOG_DEBUG_EN
        depends on BT_BLUEDROID_ENABLED || BT_NIMBLE_ENABLED
        bool "启用蓝牙HCI调试模式"
        default n
        help
            此选项用于启用蓝牙调试模式，保存HCI层数据流。

    config BT_HCI_LOG_DATA_BUFFER_SIZE
        depends on BT_HCI_LOG_DEBUG_EN
        int "蓝牙HCI调试模式下用于HCI数据的缓存大小（N*1024字节）"
        range 1 100
        default 5
        help
            此选项用于配置HCI调试模式下HCI数据流缓存的缓冲区大小。
            这是一个环形缓冲区，如果缓冲区已满，新数据将覆盖最旧的数据。

    config BT_HCI_LOG_ADV_BUFFER_SIZE
        depends on BT_HCI_LOG_DEBUG_EN
        int "蓝牙HCI调试模式下用于广告报告的缓存大小（N*1024字节）"
        range 1 100
        default 8
        help
            此选项用于配置HCI调试模式下HCI广告报告缓存的缓冲区大小。
            这是一个环形缓冲区，如果缓冲区已满，新数据将覆盖最旧的数据。

endmenu

menuconfig BLE_MESH
    bool "ESP BLE Mesh 支持"
    depends on BT_ENABLED
    help
        此选项启用ESP BLE Mesh支持。可用的具体功能可能取决于堆栈中启用的其他功能，
        如蓝牙支持、Bluedroid支持和GATT支持。

source "$IDF_PATH/components/bt/esp_ble_mesh/Kconfig.in"
