menu "分区表"

    choice PARTITION_TABLE_TYPE
        prompt "分区表"
        default PARTITION_TABLE_SINGLE_APP
        help
            要刷写到 ESP32 的分区表。分区表决定了应用程序、数据和其他资源预期存放的位置。

            预定义的分区表 CSV 描述可以在 components/partition_table 目录中找到。这些主要用于示例和开发用途，
            预期在生产使用中，您将复制其中一个 CSV 文件并为您的应用程序创建自定义分区 CSV。

        config PARTITION_TABLE_SINGLE_APP
            bool "单一工厂应用程序，无 OTA"
            help
                这是默认的分区表，设计用于适合 2MB 或更大的闪存，带有单个 1MB 的应用程序分区。

                IDF 目录中对应的 CSV 文件是 components/partition_table/partitions_singleapp.csv

                这个分区表不适用于需要 OTA（空中更新）功能的应用程序。

        config PARTITION_TABLE_SINGLE_APP_LARGE
            bool "单一工厂应用程序（大型），无 OTA"
            help
                这是默认分区表的一个变体，将 1MB 的应用程序分区大小扩展到 1.5MB 以适应更多代码。

                IDF 目录中对应的 CSV 文件是 components/partition_table/partitions_singleapp_large.csv

                这个分区表不适用于需要 OTA（空中更新）功能的应用程序。

        config PARTITION_TABLE_TWO_OTA
            bool "工厂应用程序，两个 OTA 定义"
            help
                这是一个基本的支持 OTA 的分区表，包含一个工厂应用程序分区和两个 OTA 应用程序分区。
                所有分区都是 1MB，因此这个分区表需要 4MB 或更大的闪存大小。

                IDF 目录中对应的 CSV 文件是 components/partition_table/partitions_two_ota.csv

        config PARTITION_TABLE_CUSTOM
            bool "自定义分区表 CSV"
            help
                指定用于您项目的分区表 CSV 的路径。

                有关更多信息，请参阅 ESP-IDF 程序员指南中的分区表部分。

        config PARTITION_TABLE_SINGLE_APP_ENCRYPTED_NVS
            bool "单一工厂应用程序，无 OTA，加密的 NVS"
            depends on !ESP32_COREDUMP_ENABLE_TO_FLASH && NVS_SEC_KEY_PROTECT_USING_FLASH_ENC

            help
                这是默认"单一工厂应用程序，无 OTA"分区表的一个变体，
                在使用闪存加密时支持加密的 NVS。有关更多信息，请参阅 ESP-IDF 程序员指南中的闪存加密部分。

                IDF 目录中对应的 CSV 文件是 components/partition_table/partitions_singleapp_encr_nvs.csv

        config PARTITION_TABLE_SINGLE_APP_LARGE_ENC_NVS
            bool "单一工厂应用程序（大型），无 OTA，加密的 NVS"
            depends on !ESP32_COREDUMP_ENABLE_TO_FLASH && NVS_SEC_KEY_PROTECT_USING_FLASH_ENC
            help
                这是"单一工厂应用程序（大型），无 OTA"分区表的一个变体，
                在使用闪存加密时支持加密的 NVS。有关更多信息，请参阅 ESP-IDF 程序员指南中的闪存加密部分。

                IDF 目录中对应的 CSV 文件是 components/partition_table/partitions_singleapp_large_encr_nvs.csv

        config PARTITION_TABLE_TWO_OTA_ENCRYPTED_NVS
            bool "工厂应用程序，两个 OTA 定义，加密的 NVS"
            depends on !ESP_COREDUMP_ENABLE_TO_FLASH && NVS_SEC_KEY_PROTECT_USING_FLASH_ENC
            help
                这是"工厂应用程序，两个 OTA 定义"分区表的一个变体，
                在使用闪存加密时支持加密的 NVS。有关更多信息，请参阅 ESP-IDF 程序员指南中的闪存加密部分。

                IDF 目录中对应的 CSV 文件是 components/partition_table/partitions_two_ota_encr_nvs.csv
    endchoice

    config PARTITION_TABLE_CUSTOM_FILENAME
        string "自定义分区 CSV 文件" if PARTITION_TABLE_CUSTOM
        default "partitions.csv"
        help
            自定义分区 CSV 文件的名称。
            默认情况下，此路径相对于项目根目录进行评估。
            但是，如果提供了 CSV 文件的绝对路径，则会配置绝对路径。

    config PARTITION_TABLE_FILENAME
        string
        default "partitions_singleapp.csv" if PARTITION_TABLE_SINGLE_APP && !ESP_COREDUMP_ENABLE_TO_FLASH
        default "partitions_singleapp_coredump.csv" if PARTITION_TABLE_SINGLE_APP && ESP_COREDUMP_ENABLE_TO_FLASH
        default "partitions_singleapp_encr_nvs.csv" if PARTITION_TABLE_SINGLE_APP_ENCRYPTED_NVS
        default "partitions_singleapp_large.csv" if PARTITION_TABLE_SINGLE_APP_LARGE && !ESP_COREDUMP_ENABLE_TO_FLASH
        default "partitions_singleapp_large_coredump.csv" if PARTITION_TABLE_SINGLE_APP_LARGE && ESP_COREDUMP_ENABLE_TO_FLASH # NOERROR
        default "partitions_singleapp_large_encr_nvs.csv" if PARTITION_TABLE_SINGLE_APP_LARGE_ENC_NVS
        default "partitions_two_ota.csv" if PARTITION_TABLE_TWO_OTA && !ESP_COREDUMP_ENABLE_TO_FLASH
        default "partitions_two_ota_coredump.csv" if PARTITION_TABLE_TWO_OTA && ESP_COREDUMP_ENABLE_TO_FLASH
        default "partitions_two_ota_encr_nvs.csv" if PARTITION_TABLE_TWO_OTA_ENCRYPTED_NVS
        default PARTITION_TABLE_CUSTOM_FILENAME if PARTITION_TABLE_CUSTOM

    config PARTITION_TABLE_OFFSET
        hex "分区表偏移量"
        default 0x8000
        help
            分区表的地址（默认为 0x8000）。
            允许您移动分区表，为引导加载程序提供更多空间。
            请注意，引导加载程序和应用程序都需要使用相同的 PARTITION_TABLE_OFFSET 值进行编译。

            此数字应该是 0x1000 的倍数。

            注意，如果将此值设置为更高的值，可能需要更改分区表 CSV 文件中的分区偏移量。
            要使每个分区偏移量适应配置的分区表偏移量，请在 CSV 文件中将所有分区偏移量留空。

    config PARTITION_TABLE_MD5
        bool "为分区表生成 MD5 校验和"
        default y
        depends on !APP_COMPATIBLE_PRE_V3_1_BOOTLOADERS && !IDF_TARGET_LINUX
        help
            为分区表生成 MD5 校验和，以保护表的完整性。对于无法识别分区表中 MD5 校验和的
            旧版引导加载程序，应关闭生成。

endmenu
